
<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-logo">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
    <% end %>
  </div>

  <div class="space">

  </div>
  <!-- Links  -->

  <nav id="taxonomies" class="navbar-center navbar-item" data-hook>
    <div class="navbar-center-up navbar-item">
      <% @taxonomies.each do |taxonomy| %>
        <div class="taxonomy-major">
          <h3><%= link_to taxonomy.name, "t/#{taxonomy.root.permalink}", class: "navbar-wagon-link taxonomy-nav ", id: "#{taxonomy.id}" %></h3>

        </div>
      <% end %>
    </div>
    <div class="navbar-center-down navbar-item">
      <% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
      <% @taxonomies.each do |taxonomy| %>
        <% cache [I18n.locale, taxonomy, @taxon, max_level] do %>
          <div class="navbar-item subtaxons list-inline hidden">
            <%= nav_tree(taxonomy.root, @taxon, max_level)%>
          </div>
        <% end %>
      <% end %>
     </div>
  </nav>

  <div class="space">

  </div>
  <!-- NAVBAR RIGHT ICONS-->
  <div class="navbar-right list-inline navbar-item">
    <div id="language">
      <h3> <%= link_to "ES", "#", class: "navbar-icons" %></h3>
    </div>
    <div id="user">
      <%= link_to "#" do %>
      <i class="fa fa-user"></i>
      <% end %>
    </div>
    <div id="search">
      <%= link_to "#" do %>
      <i class="fa fa-search"></i>
      <% end %>
    </div>
    <div id="heart">
      <%= link_to "#" do %>
      <i class="fa fa-heart"></i>
      <% end %>
    </div>
    <div id="shop">
      <%= link_to "#" do %>
      <i class="fa fa-shopping-bag"></i>
      <% end %>
    </div>
  </div>
</div>
</div>




<header id="header" class="row" data-hook>
  <figure id="logo" class="columns six" data-hook><%= logo img_options: {class: 'img-responsive', width: '138'} %></figure>
  <%= render partial: 'spree/shared/nav_bar' %>
  <%= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
</header>

