
<div class="navbar">
  <!-- Logo -->
  <div class="navbar__logo-box">
    <%= link_to root_path do %>
    <%= image_tag "logo.png", class: "navbar__logo-box__image"%>
    <% end %>
  </div>

  <div class="space">

  </div>
  <!-- Links  -->

  <nav  class="navbar--center taxonomies-list" data-hook>
    <% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
      <% @taxonomies.each do |taxonomy| %>
          <div class="taxonomies-list__taxonomy taxonomies-list__n<%= taxonomy.id %>">
          <% cache [I18n.locale, taxonomy, @taxon, max_level] do %>
            <h4>  <%= link_to taxonomy.name, "t/#{taxonomy.root.permalink}", class: "taxonomies-list__taxonomy__major" %></h4>

              <%= nav_tree(taxonomy.root, @taxon, max_level)%>

          </div>
        <% end %>
      <% end %>
  </nav>

  <div class="space">

  </div>
  <!-- NAVBAR RIGHT ICONS-->
  <div class="navbar--right list-inline">
      <h3> <%= link_to "ES", "#", class: "navbar--right__icon", id:"language" %></h3>
      <%= link_to "#" do %>
        <i class="navbar--right__icon fa fa-user" id="user"></i>
      <% end %>
      <%= link_to "#" do %>
        <i class="navbar--right__icon fa fa-search" id="search"></i>
      <% end %>
      <%= link_to "#" do %>
        <i class=" navbar--right__icon fa fa-heart" id="heart"></i>
      <% end %>
      <%= link_to "#" do %>
        <i class="navbar--right__icon fa fa-shopping-bag" id="shop"></i>
      <% end %>

  </div>
</div>







