
<div class="navbar">
  <!-- Logo -->
  <div class="navbar__logo-box">
    <%= link_to root_path, class: "navbar__logo" do %>
    <%= image_tag "logo.png", height: 50 %>
    <% end %>
  </div>

  <div class="space">

  </div>
  <!-- Links  -->

  <nav id="navbar__taxonomies" class="navbar--center navbar__item" data-hook>
    <div class="navbar--center--up navbar__item">
      <% @taxonomies.each do |taxonomy| %>
        <div class="navbar__taxonomy--major">
          <h3><%= link_to taxonomy.name, "t/#{taxonomy.root.permalink}", class: "navbar__link ", id: "#{taxonomy.id}" %></h3>

        </div>
      <% end %>
    </div>
    <div class="navbar--center--down navbar__item">
      <% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
      <% @taxonomies.each do |taxonomy| %>
        <% cache [I18n.locale, taxonomy, @taxon, max_level] do %>
          <div class="navbar-item subtaxons list-inline">
            <%= nav_tree(taxonomy.root, @taxon, max_level)%>
          </div>
        <% end %>
      <% end %>
     </div>
  </nav>

  <div class="space">

  </div>
  <!-- NAVBAR RIGHT ICONS-->
  <div class="navbar--right list-inline navbar__item">
    <div id="language">
      <h3> <%= link_to "ES", "#", class: "navbar__icons" %></h3>
    </div>
    <div id="user">
      <%= link_to "#" do %>
      <i class="fa fa-user"></i>
      <% end %>
    </div>
    <div id="search">
      <%= link_to "#" do %>
      <i class="fa fa-search"></i>
      <% end %>
    </div>
    <div id="heart">
      <%= link_to "#" do %>
      <i class="fa fa-heart"></i>
      <% end %>
    </div>
    <div id="shop">
      <%= link_to "#" do %>
      <i class="fa fa-shopping-bag"></i>
      <% end %>
    </div>
  </div>
</div>







